#about {
  background-color: #f4f4f9;
  padding-top: 160px;

}
.about-section {
  padding:20px;
}
.about-title {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

.about-text {
  font-size: 2rem;
  color: #6687a8;
  line-height: 1.8;
  margin-top: 20px;
}
